gradio==4.44.1
networkx
plotly
pandas
numpy
Pillow
opencv-python
requests
httpx
python-dotenv
pydantic
soundfile
librosa
scipy
torch
torchvision
torchaudio
transformers
accelerate
diffusers
TTS
pydub
moviepy
paddlepaddle-gpu
paddleocr
ultralytics
facexlib
insightface
